name: create vm
on: 
    push:
        branches:
            - main
run-name: create vm
jobs:
    create-vm:
        runs-on: ubuntu-latest
        environment: dev
        env:
            job-folder: iac/ec2 
            TF_VAR_EC2_NAME: ${{ env.TF_VAR_EC2_NAME }}
            TF_VAR_ENV: ${{ env.TF_VAR_ENV }}
        steps:
            - name: get code
              uses: actions/checkout@v4
            - name: install terraform
              uses: hashicorp/setup-terraform@v3
            - name: initialize terraform
              run: |
                cd ${{ env.job-folder }}
                terraform init
            - name: create infra
              run: terraform -chdir=${{ env.job-folder }} apply -auto-approve
            - name: destroy infra
              if: always()
              run: terraform -chdir=${{ env.job-folder }} destroy -auto-approve
