name: main workflow
on:
    push:
        branches:
            - main
run-name: main workflow
jobs:
    setup-env-variables:
        uses: ./.github/workflows/set-env-vars.yml
        with:
            env_val: dev

