name: set env variables
on: 
    workflow_call:
        inputs:
            env_val:
                description: specify the environment in which we are runnin the workflow
                required: false
                default: dev
                type: string
        secrets:
            github-token:
                    required: true 
run-name: setting env variables
jobs:
    set-env-vars:
        runs-on: ubuntu-latest
        environment: ${{ inputs.env_val }}
        steps:
            - name: get code
              uses: actions/checkout@v4
            - name: cache packages
              uses: actions/cache@v4
              id: cache
              with:
                path: ~/.cache/pip
                key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
            - name: install packages
              if: steps.cache.outputs.cache-hit != 'true'
              run: |
                pip install --upgrade pip
                pip install -r requirements.txt
            - name: executre python set_env_vars
              run: python set_env_vars.py ${{ secrets.github-token}} ${{ inputs.env_val }}
              
